body{
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: white;
}


.jumbotron1{
    display: flex;
    text-align: center;
    align-items: center;
    /*background-image: url("jumbotronBG.png");*/
    background-size: cover;
    background-position: center; 
    color: #ffffff;
    height: 100%;
    position: relative;
    top: 0px;
    
}

/*.logo{
    float: left;
    margin-left: 40px;
}*/

/*.logoIcon{
    margin: 10px;
    float: left;
}*/
#logoIcon{
    position: absolute;
    display: none;
}
#logoText{
    position: relative;
    text-align: center;
    width: 100%;
    right: 140px;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #35DB96;
    color: dimgrey;
}

.navbar-custom {
    background-color: #35DB96;
    color: #ffffff;
    border-radius: 0;
}

.nav-link:hover {
    background-color: #35DB96;
    color: #35DB96;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle .icon-bar {
    color: #eeeeee;
    background-color: white;
}

.navbar-header {
    background-color: #35DB96;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}




/*titlescreen*/
.tspan{
    margin-top:0px;
    font-size: 26px;
    display: inline;
    opacity: 0.01;
    color: white;
}
.tsnowflake{
    position: absolute;
}
#titleScreen{
    height: 100%;
    background-color: black;
}



#statement{
    background-color: white;
    min-height: 250px;
}
#statementp{
    text-align: center;
    margin-top: 100px;
}

#emailCon{
    background-color: black;
    min-height: 250px;
    background-color: #35DB96;
}






/*about*/
#theTeam{
    width: 100%;
    background-color: cornflowerblue;
}
#questionIn{
    width: 100%;
    padding: 5px;
    
    border: 1px solid #35DB96;
    border-bottom: 1px solid white;
    margin-top: 0px;
    position: relative;
    color: white;
    background-color: #35DB96;
    text-decoration: none;
}
#questionIn:focus {
    outline: none;
}
#aboutMoreInfo{
    color: white;
    position: relative;
    margin-top: 70px;
}


/*stories*/
#storiesTitle{
    text-align: center;
    margin-top: 150px;
}






#emailform{
    padding: 5px;
    
    border: 1px solid #35DB96;
    border-bottom: 1px solid white;
    margin-top: -50px;
    position: relative;
    color: white;
    background-color: #35DB96;
    text-decoration: none;
    width: 10px;
}#emailform:focus {
    outline: none;
}
#emailFormp{
    color: white;
    margin-top: 50px;
    margin-left: 5px;
    position: relative;
}


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


#questionAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    font-size: 18px;
}
#incorrectAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    cursor: pointer;
}






.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#inquiry{
    height: 400px;
    background-color: #35DB96;
}