body{
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}


.jumbotron1{
    display: flex;
    text-align: center;
    align-items: center;
    background-image: url("jumbotronBG.png");
    background-size: cover;
    background-position: center; 
    color: #ffffff;
    height: 800px;
    
}

.logo{
    float: left;
    margin-left: 40px;
}

.logoIcon{
    margin: 10px;
    float: left;
}

.logoText{
    margin: 10px;
    float: left;
    text-align: left;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #229922;
    color: dimgrey;
}

.navbar-custom {
    background-color: #229922;
    color: #ffffff;
    border-radius: 0;
}

.nav-link:hover {
    background-color: #229922;
    color: #229922;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle .icon-bar {
    color: #eeeeee;
    background-color: white;
}

.navbar-header {
    background-color: #28540A;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}


#questionIn{
    width: 100%;
    padding: 5px;
    
    border: 1px solid #35DB96;
    border-bottom: 1px solid white;
    margin-top: 50px;
    position: relative;
    color: white;
    background-color: #35DB96;
    text-decoration: none;
}
#questionIn:focus {
    outline: none;
}
#emailform{
    width: 100%;
    padding: 5px;
    
    border: 1px solid #35DB96;
    border-bottom: 1px solid white;
    margin-top: 50px;
    position: relative;
    color: white;
    background-color: #35DB96;
    text-decoration: none;
}#emailform:focus {
    outline: none;
}



::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


#questionAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    font-size: 23px;
}
#incorrectAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    cursor: pointer;
}






.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#emailcon{
    height: 400px;
    background-color: #35DB96;
}#inquiry{
    height: 400px;
    background-color: #35DB96;
}