body{
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: white;
}


.jumbotron1{
    display: flex;
    text-align: center;
    align-items: center;
    /*background-image: url("jumbotronBG.png");*/
    background-size: cover;
    background-position: center; 
    color: #ffffff;
    height: 100%;
    position: relative;
    top: 0px;
    
}

/*.logo{
    float: left;
    margin-left: 40px;
}*/

/*.logoIcon{
    margin: 10px;
    float: left;
}*/
#logoIcon{
    position: absolute;
    display: none;
}
#logoText{
    position: relative;
    text-align: center;
    width: 100%;
    right: 140px;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #35DB96;
    color: dimgrey;
}

.navbar-custom {
    background-color: #35DB96;
    color: #ffffff;
    border-radius: 0;
}

.nav-link:hover {
    background-color: #35DB96;
    color: #35DB96;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle .icon-bar {
    color: #eeeeee;
    background-color: white;
}

.navbar-header {
    background-color: #35DB96;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important; 
    padding-bottom:0 !important;
    height: 36px;
}
.navbar {min-height:35px !important;}



/*titlescreen*/
.tspan{
    margin-top:0px;
    font-size: 26px;
    display: inline;
    opacity: 0.01;
    color: white;
}
.tsnowflake{
    position: absolute;
}
#titleScreen{
    height: 100%;
    background-color: black;
}



#statement{
    background-color: white;
    min-height: 250px;
}
#statementp{
    text-align: center;
    margin-top: 100px;
}
#challenges{
    background-color: #C7F0ED;
    /*background-image: url("http://res.cloudinary.com/dfcfsw4mv/image/upload/v1470979220/DSC_0201_lboh2y.jpg");
    height: 300px;
    width: 100%;*/
}
#currentChallemgeImg{
/*note I did inline*/

}

#stories{
    background-color: #DFF5F3;/*I really like this background color*/
}
#upcomming{
    background-color: #449691;
}

#emailCon{
    background-color: black;
    min-height: 250px;
    background-color: #0B6336;
}
#emailform{
    padding: 5px;
    
    border: 1px solid #0B6336;
    border-bottom: 1px solid white;
    margin-top: -50px;
    position: relative;
    color: white;
    background-color: #0B6336;
    text-decoration: none;
    width: 10px;
}#emailform:focus {
    outline: none;
}
#emailFormp{
    color: white;
    margin-top: 50px;
    margin-left: 5px;
    position: relative;
}





/*about*/
#aboutIntro{
    position: relative;
    height: 300px;
    background-color: brown;
}
#aboutIntroP{
    text-align: center;
    margin-top: 160px;
    color: white;
    display: none;
}
.card-img-top{
    width: 100%;
}
.card{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 40px;
    display: none;
}


#theTeam{
    top: 0px;
    min-height: 400px;
    position: relative;                             
    background-color: cornflowerblue;
    padding: 30px;
}
#questionIn{
    width: 10px;
    padding: 5px;
    
    border: 1px solid #0B6336;
    border-bottom: 1px solid white;
    margin-top: 0px;
    position: relative;
    color: white;
    background-color: #0B6336;
    text-decoration: none;
}
#questionIn:focus {
    outline: none;
}
#aboutMoreInfo{
    color: white;
    position: relative;
    margin-top: 160px;
    width: 100%;
    margin-left: 5px;
}
#inquiry{
    height: 400px;
    background-color: #0B6336;
    position: relative;
    padding: none;
    margin: 0px;
}


/*stories*/
#storiesTitle{
    text-align: center;
    margin-top: 150px;
}






::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


#questionAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    font-size: 18px;
}
#incorrectAnswer{
    width: 100%;
    color: white;
    text-align: center;
    display: none;
    margin-top: 80px;
    cursor: pointer;
}






.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}